fieldset {
  padding: 0;
  margin: 0;
  border: none;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: none;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.q9-form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 18px;
  color: #2e4a57;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d5dbdd;
  border-radius: 3px;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: border-color ease-in-out 0.3s;
  -o-transition: border-color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s; }
.q9-form-control:hover {
  border-color: #c0c8cc; }
.q9-form-control:focus {
  border: 1px solid #00abfb;
  outline: 0; }
.q9-form-control:focus + .q9-help-msg {
  color: #00abfb; }
.q9-form-control::-moz-placeholder {
  color: #dce1e4;
  opacity: 1; }
.q9-form-control:-ms-input-placeholder {
  color: #dce1e4; }
.q9-form-control::-webkit-input-placeholder {
  color: #dce1e4; }
.q9-form-control[disabled], .q9-form-control[readonly],
fieldset[disabled] .q9-form-control {
  background-color: #f9fAfA;
  border-color: #c0c8cc;
  opacity: 1; }
.q9-form-control[disabled],
fieldset[disabled] .q9-form-control {
  cursor: not-allowed; }

textarea.q9-form-control {
  height: auto;
  resize: vertical; }

.q9-form-group {
  margin-bottom: 16px;
  font-family: inherit; }

.q9-input-label {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #2e4a57; }

.q9-help-msg {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #dce1e4;
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s; }

.q9-has-error .q9-form-control {
  border-color: #e54459; }

.q9-has-error .q9-form-control + .q9-help-msg,
.q9-has-error .q9-help-msg {
  color: #e54459; }

.q9-has-success .q9-form-control + .q9-help-msg,
.q9-has-success .q9-help-msg {
  color: #4fb603; }

.q9-h1, .q9-h2, .q9-h3, .q9-h4, .q9-h5, .q9-h6 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #2e4a57;
  font-family: inherit;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased; }

.q9-h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.27; }

.q9-h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4; }

.q9-h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.q9-h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38; }

.q9-h5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.q9-h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; }

.q9-btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 13px 14px 12px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 4px;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  letter-spacing: .5px;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  -o-transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s; }
.q9-btn:focus, .q9-btn:hover {
  text-decoration: none;
  outline: 0; }
.q9-btn.disabled, .q9-btn[disabled],
fieldset[disabled] .q9-btn {
  cursor: not-allowed; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.q9-btn-default {
  background-color: #00abfb;
  border-color: #00abfb;
  color: #fff; }
.q9-btn-default:focus {
  color: #fff;
  border: 1px solid #19b3fb; }
.q9-btn-default:hover {
  background-color: #19b3fb;
  border: 1px solid #19b3fb;
  color: #fff; }
.q9-btn-default:active, .q9-btn-default.active {
  background-color: #0099e1;
  border: 1px solid #0099e1;
  color: #fff; }

.q9-btn-danger {
  background-color: #ff4c63;
  border: 1px solid #ff4c63;
  color: #fff; }
.q9-btn-danger:focus {
  color: #fff;
  border: 1px solid #ff4c63; }
.q9-btn-danger:hover {
  background-color: #ff5d72;
  border: 1px solid #ff5d72;
  color: #fff; }
.q9-btn-danger:active, .q9-btn-danger.active {
  background-color: #e54459;
  border: 1px solid #e54459;
  color: #fff; }

.q9-btn-success {
  background-color: #58cb03;
  border: 1px solid #58cb03;
  color: #fff; }
.q9-btn-success:focus {
  border: 1px solid #58cb03;
  color: #fff; }
.q9-btn-success:hover {
  background-color: #68d01d;
  border: 1px solid #68d01d;
  color: #fff; }
.q9-btn-success:active, .q9-btn-success.active {
  background-color: #4fb603;
  border: 1px solid #4fb603;
  color: #fff; }

.q9-btn-default,
.q9-btn-danger,
.q9-btn-success {
  color: #fff;
  text-decoration: none; }
.q9-btn-default.disabled, .q9-btn-default[disabled],
fieldset[disabled] .q9-btn-default,
.q9-btn-danger.disabled,
.q9-btn-danger[disabled],
fieldset[disabled]
  .q9-btn-danger,
.q9-btn-success.disabled,
.q9-btn-success[disabled],
fieldset[disabled]
  .q9-btn-success {
  background-color: #dce1e4;
  border-color: #dce1e4;
  color: #fff; }

.q9-btn-default-light {
  border: 1px solid #00abfb;
  background-color: transparent;
  color: #00abfb; }
.q9-btn-default-light:focus {
  color: #00abfb;
  border: 1px solid #00abfb; }
.q9-btn-default-light:hover {
  border: 1px solid #19b3fb;
  background-color: #19b3fb;
  color: #fff; }
.q9-btn-default-light:active, .q9-btn-default-light.active {
  border: 1px solid #0099e1;
  background-color: #0099e1;
  color: #fff; }

.q9-btn-danger-light {
  border: 1px solid #ff4c63;
  background-color: transparent;
  color: #ff4c63; }
.q9-btn-danger-light:focus {
  border: 1px solid #ff4c63;
  color: #ff4c63; }
.q9-btn-danger-light:hover {
  border: 1px solid #ff5d72;
  background-color: #ff5d72;
  color: #fff; }
.q9-btn-danger-light:active, .q9-btn-danger-light.active {
  border: 1px solid #e54459;
  background-color: #e54459;
  color: #fff; }

.q9-btn-success-light {
  border: 1px solid #58cb03;
  background-color: transparent;
  color: #58cb03; }
.q9-btn-success-light:focus {
  border: 1px solid #58cb03;
  color: #58cb03; }
.q9-btn-success-light:hover {
  border: 1px solid #68d01d;
  background-color: #68d01d;
  color: #fff; }
.q9-btn-success-light:active, .q9-btn-success-light.active {
  border: 1px solid #4fb603;
  background-color: #4fb603;
  color: #fff; }

.q9-btn-default-light.disabled, .q9-btn-default-light[disabled],
fieldset[disabled] .q9-btn-default-light,
.q9-btn-danger-light.disabled,
.q9-btn-danger-light[disabled],
fieldset[disabled]
.q9-btn-danger-light,
.q9-btn-success-light.disabled,
.q9-btn-success-light[disabled],
fieldset[disabled]
.q9-btn-success-light {
  background-color: transparent;
  border-color: #dce1e4;
  color: #dce1e4; }

.q9-btn.q9-btn-sm {
  padding: 8px 16px 7px;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none; }

.q9-btn.q9-btn-full-width {
  display: block;
  width: 100%; }

.q9-tabset {
  -webkit-font-smoothing: antialiased; }
.q9-tabset .nav-tabs {
  border-bottom: 1px solid #dce1e4; }
.q9-tabset .nav-tabs > li {
  position: relative;
  margin-bottom: 0;
  outline: none;
  border: none; }
.q9-tabset .nav-tabs > li:hover > a {
  color: #0099e1;
  border: none;
  background-color: #fff; }
.q9-tabset .nav-tabs > li.disabled > a {
  color: #dce1e4; }
.q9-tabset .nav-tabs > li.active > a {
  color: #0099e1;
  border: none; }
.q9-tabset .nav-tabs > li.active > a:active, .q9-tabset .nav-tabs > li.active > a:hover, .q9-tabset .nav-tabs > li.active > a:focus {
  color: #0099e1;
  border: none; }
.q9-tabset .nav-tabs > li.active > a:after {
  width: 100%;
  left: 0;
  right: 0; }
.q9-tabset .nav-tabs > li > a {
  margin-right: 0;
  padding: 11px 14px;
  font-size: 13px;
  line-height: 17px;
  color: #c0c8cc;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  -webkit-transition: color, 0.3s, ease-in, 0s;
  -o-transition: color, 0.3s, ease-in, 0s;
  transition: color, 0.3s, ease-in, 0s; }
.q9-tabset .nav-tabs > li > a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  right: 50%;
  background-color: #00abfb;
  -webkit-transition: all, 0.4s, ease-in, 0s;
  -o-transition: all, 0.4s, ease-in, 0s;
  transition: all, 0.4s, ease-in, 0s; }
.q9-tabset .nav-tabs > li > a:visited, .q9-tabset .nav-tabs > li > a:active, .q9-tabset .nav-tabs > li > a:focus, .q9-tabset .nav-tabs > li > a:hover {
  border: none; }
