@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.q9-form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #2e4a57;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d5dbdd;
  border-radius: 3px;
  text-overflow: ellipsis;
  -webkit-transition: border-color ease-in-out 0.3s;
  -o-transition: border-color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s; }
  .q9-form-control:hover {
    border-color: #ccd3d6; }
  .q9-form-control:focus {
    border-color: #00abfb;
    outline: 0; }
    .q9-form-control:focus + .q9-help-msg {
      color: #00abfb; }
  .q9-form-control::-moz-placeholder {
    color: #d5dbdd;
    opacity: 1; }
  .q9-form-control:-ms-input-placeholder {
    color: #d5dbdd; }
  .q9-form-control::-webkit-input-placeholder {
    color: #d5dbdd; }
  .q9-form-control[disabled], .q9-form-control[readonly],
  fieldset[disabled] .q9-form-control {
    background-color: #fafbfb;
    border-color: #ccd3d6;
    opacity: 1; }
  .q9-form-control[disabled],
  fieldset[disabled] .q9-form-control {
    cursor: not-allowed; }

.q9-form-group {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif; }

.q9-input-label {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #2e4a57; }

.q9-help-msg {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #d5dbdd;
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s; }

.q9-has-error .q9-form-control {
  border-color: #e54459; }

.q9-has-error .q9-form-control + .q9-help-msg,
.q9-has-error .q9-help-msg {
  color: #e54459; }

.q9-has-success .q9-form-control + .q9-help-msg,
.q9-has-success .q9-help-msg {
  color: #4fb603; }

.q9-h1, .q9-h2, .q9-h3, .q9-h4, .q9-h5, .q9-h6 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #2e4a57;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }

.q9-h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.27; }

.q9-h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4; }

.q9-h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.q9-h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38; }

.q9-h5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.q9-h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; }

.q9-btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 14px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 4px;
  background-color: #00abfb;
  background-image: none;
  border: 1px solid #00abfb;
  white-space: nowrap;
  letter-spacing: .5px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  -o-transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s, background-color ease-in-out 0.3s, color ease-in-out 0.3s; }
  .q9-btn:hover, .q9-btn:focus, .q9-btn.focus {
    background-color: #19b3fb;
    color: #fff;
    text-decoration: none; }
  .q9-btn:active, .q9-btn.active {
    background-color: #0099e1;
    color: #fff; }
  .q9-btn.disabled, .q9-btn[disabled],
  fieldset[disabled] .q9-btn {
    background-color: #d5dbdd;
    border-color: #d5dbdd;
    cursor: not-allowed; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.q9-btn.q9-btn-light {
  background-color: #fff;
  color: #00abfb; }
  .q9-btn.q9-btn-light:hover, .q9-btn.q9-btn-light:focus, .q9-btn.q9-btn-light.focus {
    background-color: #19b3fb;
    color: #fff;
    text-decoration: none; }
  .q9-btn.q9-btn-light:active, .q9-btn.q9-btn-light.active {
    background-color: #0099e1;
    color: #fff; }
  .q9-btn.q9-btn-light.disabled, .q9-btn.q9-btn-light[disabled],
  fieldset[disabled] .q9-btn.q9-btn-light {
    background-color: #fff;
    border-color: #d5dbdd;
    color: #d5dbdd; }

.q9-btn.q9-btn-danger {
  background-color: #ff4c63;
  border-color: #ff4c63;
  color: #fff; }
  .q9-btn.q9-btn-danger:hover, .q9-btn.q9-btn-danger:focus, .q9-btn.q9-btn-danger.focus {
    background-color: #ff5d72;
    border-color: #ff5d72;
    text-decoration: none; }
  .q9-btn.q9-btn-danger:active, .q9-btn.q9-btn-danger.active {
    background-color: #e54459;
    border-color: #e54459; }
  .q9-btn.q9-btn-danger.disabled, .q9-btn.q9-btn-danger[disabled],
  fieldset[disabled] .q9-btn.q9-btn-danger {
    background-color: #d5dbdd;
    border-color: #d5dbdd;
    color: #fff; }

.q9-btn.q9-btn-sm {
  padding: 8px 16px;
  font-weight: 500;
  letter-spacing: normal; }

.q9-btn.q9-btn-full-width {
  display: block;
  width: 100%; }
